.top-buttons {
    -fx-max-height: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-min-width: 20px;
}
.top-buttons:hover {
    -fx-background-color: #eae2b7;
}
.exit-button {
    -fx-background-color: #d62828;
    -fx-shape: "M141.7,10C67.4,10,7.1,70.3,7.1,144.7s60.3,134.7,134.7,134.7s134.7-60.3,134.7-134.7S216.1,10,141.7,10z
                	 M213.4,189c4.7,4.7,4.7,12.3,0,17L203,216.3c-4.7,4.7-12.3,4.7-17,0L141.7,172l-44.3,44.3c-4.7,4.7-12.3,4.7-17,0L70.1,206
                	c-4.7-4.7-4.7-12.3,0-17l44.3-44.3l-44.3-44.3c-4.7-4.7-4.7-12.3,0-17L80.5,73c4.7-4.7,12.3-4.7,17,0l44.3,44.3L186.1,73
                	c4.7-4.7,12.3-4.7,17,0l10.3,10.3c4.7,4.7,4.7,12.3,0,17l-44.3,44.3L213.4,189z";
}
.min-button
{
    -fx-background-color: fcbf49;
    -fx-shape: "M141.7,7.1C67.3,7.1,7,67.4,7,141.8s60.3,134.7,134.7,134.7s134.7-60.3,134.7-134.7S216,7.1,141.7,7.1z
               	 M235.7,149.1c0,6.6-5.4,12-12,12h-164c-6.6,0-12-5.4-12-12v-14.6c0-6.6,5.4-12,12-12h164c6.6,0,12,5.4,12,12V149.1z";
}
.background {
    -fx-background-color: #023047;
    -fx-background-radius: 15px;
}
