/* BUTTONS */

.top-buttons {
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,1) , 10,0,0,1);
    -fx-max-height: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-min-width: 20px;
}
.top-buttons:hover {
    -fx-effect: dropshadow(gaussian , rgba(255,255,255,1) , 10,0,0,1);
    -fx-background-color: #eae2b7;
}
.exit-button {
    -fx-background-color: #d62828;
    -fx-shape: "M141.7,10C67.4,10,7.1,70.3,7.1,144.7s60.3,134.7,134.7,134.7s134.7-60.3,134.7-134.7S216.1,10,141.7,10z
                	 M213.4,189c4.7,4.7,4.7,12.3,0,17L203,216.3c-4.7,4.7-12.3,4.7-17,0L141.7,172l-44.3,44.3c-4.7,4.7-12.3,4.7-17,0L70.1,206
                	c-4.7-4.7-4.7-12.3,0-17l44.3-44.3l-44.3-44.3c-4.7-4.7-4.7-12.3,0-17L80.5,73c4.7-4.7,12.3-4.7,17,0l44.3,44.3L186.1,73
                	c4.7-4.7,12.3-4.7,17,0l10.3,10.3c4.7,4.7,4.7,12.3,0,17l-44.3,44.3L213.4,189z";
}
.min-button
{
    -fx-background-color: #fcbf49;
    -fx-shape: "M141.7,7.1C67.3,7.1,7,67.4,7,141.8s60.3,134.7,134.7,134.7s134.7-60.3,134.7-134.7S216,7.1,141.7,7.1z
               	 M235.7,149.1c0,6.6-5.4,12-12,12h-164c-6.6,0-12-5.4-12-12v-14.6c0-6.6,5.4-12,12-12h164c6.6,0,12,5.4,12,12V149.1z";
}
.menu-toggle
{
    -fx-max-height: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 40px;
    -fx-min-width: 40px;
    -fx-background-color: #f0efeb;
    -fx-shape: "M69.1,142.8h144c6.6,0,12-5.4,12-12v-12.1c0-6.6-5.4-12-12-12h-144c-6.6,0-12,5.4-12,12v12.1 C57.1,137.4,62.5,142.8,69.1,142.8z M213.8,167.1h-144c-6.6,0-12,5.4-12,12v12.1c0,6.6,5.4,12,12,12h144c6.6,0,12-5.4,12-12v-12.1 C225.8,172.5,220.4,167.1,213.8,167.1z  M213.8,46.4h-144c-6.6,0-12,5.4-12,12v12.1c0,6.6,5.4,12,12,12h144c6.6,0,12-5.4,12-12V58.4 C225.8,51.8,220.4,46.4,213.8,46.4z"
}
.menu-toggle:hover
{
    -fx-background-color: #264653;
}

/* MAIN PANE */
.background {
    -fx-background-color: linear-gradient(to top right, rgba(2,48,71,0.8), rgba(42, 157, 143, 0.8));
    -fx-background-radius: 15px;
}

/* MENU */
.menu-bar {
    -fx-background-color: linear-gradient(to top, #1d3557, #457b9d);
    -fx-background-radius: 15px;
}
.menu-button {
    -fx-background-color: transparent;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 160;
    -fx-max-width: 160;
}
.menu-button:hover {
    -fx-background-color: #a8dadc;
}

/* LOGO */
.logo {
    -fx-background-color: #1d3557;
    -fx-shape: "M 6.5, 263.2
                    a 18.4,18.4 0 1,1 36.8,0
                    a 18.4,18.4 0 1,1 -36.8,0M105.6,170.6c0,9,2.9,14.2,11.4,14.2c1.2,0,2.7-0.2,4.1-0.6v-54.6h-15.5V170.6z M280.7,74.1c0-36.8-29.9-66.7-66.7-66.7c-32.8,0-60.1,23.7-65.6,54.9H43.3v27.2C19.2,94.1,1,115.3,1,140.8
                                                                                             		c0,25.5,18.2,46.7,42.3,51.3v52.6h134.4c5,15.3,19.4,26.4,36.3,26.4c21.1,0,38.2-17.1,38.2-38.2c0-17-11.1-31.4-26.5-36.4v-56.8
                                                                                             		C257,134.2,280.7,106.9,280.7,74.1z M127.5,88c4.9,0,8.6,3.2,8.6,8.1c0,4.7-3.8,8.1-8.6,8.1s-8.6-3.3-8.6-8.1
                                                                                             		C118.9,91.2,122.7,88,127.5,88z M166.5,195c-15.7-0.1-28.4-9.1-32.9-25.1v31.6c0,15.1-5.5,24.6-20.2,24.6c-4.4-0.1-8.2-1-10.8-2
                                                                                             		l2.4-9.5c1.9,0.6,4.4,1.3,7,1.3c7.4,0,9.1-5.5,9.1-14.5v-7.3c-2.3,0.5-4.7,0.8-7,0.8c-15.6,0-20.9-9.9-20.9-24.6v-40.8h-11v-9.4
                                                                                             		l11.5-0.7l1.5-20.7h10.4v20.7h20v0h8v23.7c4.8-16.4,18.5-25.6,33.7-25.6c9.7,0,16.4,4,21.6,8.7l-6.4,8.2c-4.3-3.9-8.8-6.5-14.6-6.5
                                                                                             		c-13.3,0-23.1,11.5-23.1,28.4c0,16.9,9.2,28.2,22.8,28.2c6.7,0,12.7-3.3,17.3-7.3l5.4,8.4C183.7,191.5,175.3,195,166.5,195z";
}
.logo:hover {
    -fx-background-color: #a8dadc;
}

/* SLIDER */
.slider {
    -fx-background-color: linear-gradient(to left, rgba(144, 224, 239,1), rgba(144, 224, 239, 0));
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 2px, 2px, 2px; /* 3 3 2 */
}
.slider .track {
    -fx-background-color: transparent;
}
.slider .thumb {
    -fx-background-color: #f0efeb;
}

/* START INFORMATION */
.start-arrow {
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-min-width: 115;
    -fx-max-width: 115;
    -fx-opacity: 0.8;
    -fx-background-color: #f0efeb;
    -fx-shape: "M194.7,99.6c3.1,0.3,4.6-1.8,3.3-4.6l-12-26.2c-1.3-2.8-3.8-3.1-5.6-0.5l-16.7,23.5c-1.8,2.5-0.8,4.9,2.4,5.2l3.9,0.4
               		c3.1,0.3,4.8,3,3.8,5.9c0,0-11.9,34.4-32.2,48.2c-21.1,14.4-76.7,22.5-76.7,22.5c-3.1,0.5-5.6,2.6-5.6,4.8s2.5,3.6,5.6,3.2
               		c0,0,58.4-8.2,81.8-24.4c22.7-15.8,35.1-53.6,35.1-53.6c1-3,4.3-5.1,7.4-4.8L194.7,99.6z";
}
.start-text {
    -fx-fill: #f0efeb;
    -fx-opacity: 0.8;
}